body{
    background: lightblue;
    text-align: center;
}

img{
    max-width: 100%x;
}

h1{
    font-size: 100px;
}

p{
    font-size: 50px;
}

a{
    font-size: 40px;
    margin: 0 30px;
    text-decoration: none;
    color: grey;

}